/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2015, 1:19:16 AM
    Author     : W.J
*/
/*Main Site*/
html{height: 100%;}
body{overflow-x: hidden;height: 100%;position: relative;font-family: "Questrial",sans-serif;}
header{height: 60px;font-size: 20px;}
footer{bottom: 0;min-height: 150px;color: white;}
a{text-decoration: none;color: black;}
.wrapper{padding-bottom: 200px;padding: 0 10px;}
.site-wrapper{min-height: 100%;}
.inline{display: inline-block;}
.column{margin-left: 0;}
.max-john{font-family: 'MaxJohn',sans-serif;font-size: 20px;}
.questrial{font-family: "Questrial",sans-serif;}
.had-animate{opacity: 0;}
/*Font*/
@font-face {
    font-family: MaxJohn;
    src: url(/css/font/MaxJohn.ttf);
}
@font-face {
    font-family: Prajad;
    src: url(/css/font/CSPraJad.otf);
}
.font-xsmall{font-size: 20px;}
.font-small{font-size: 30px;}
.font-medium{font-size: 40px;}
.font-large{font-size: 60px;}
.font-xlarge{font-size: 80px;}
.font-xxlarge{font-size: 100px;}

/*Header*/
.logo{padding: 10px;}
.menu{font-size: 16px;}
.menu-responsive{position: fixed;top: 0;left: 0;height: 100%;background-color: #2c6700;z-index: 100;display: none;}
.menu-responsive .header-menu-link, .menu-responsive a{color: white !important;}
.menu-button{font-size: 30px;font-family: "MaxJohn",sans-serif; display: none;position: fixed;z-index: 99}
.corner-right{top: 10px;right: 10px;}
.corner-left{top: 10px;left: 10px;}
.title.header{font-size: 100px;font-family: 'MaxJohn',sans-serif;line-height: 1;}
.header-menu{border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;background-color:rgb(44, 103, 0);}
.header-menu , .header-menu a{color: white;}
.header-menu-link{padding: 15px 5px;}
.header-menu-after::after{
    content: "|";
    margin-left: 5px;
}
@media screen and (max-width:590px){
    .menu{display:none;}
    //.menu-responsive{display: block;}
    .menu-button{display: block;}
    .header-menu , .header-menu a{color: black;}
    .responsive-hide{display: none;}
    h1{font-size: 3rem;}
}
/*Footer*/
.footer-wrapper{position: relative;background-color: #2c6700;height: 100%; text-align: center;padding-bottom: 40px;}

/*Landing*/
.sign-up-area{//background-image: url("/image/landing/Landing-Screen.jpg");
              min-height: 500px;background-position: center; color: white;}
.sign-up-area .column{margin: 0;}
.sign-up-area input{ width: 50%; padding: 10px;font-size: 20px;height: 50px !important;text-align: center;}
.sign-up-area input::placeholder{text-align: center;}
.sign-up-area button{font-size: 15px;}
.landing-component{margin-bottom: 100px;}
.quote{font-family: "Prajad" ,sans-serif !important;}
h1,h2,h3,h4{font-family: "MaxJohn",sans-serif;}
.mobile-showcase{width: 210px;height: 380px;overflow: hidden;}
.circle{border-radius: 50%;border: solid black 1px;}
.how-to{line-height: 2;padding: 5px;}
.how-to-case{position: relative;width: 150px;height: 150px;}

/*Animation*/
.hidden-animation{opacity: 0;}
.show-animation{display: block !important;}
.animated.landing-reveal {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
#background-slider{position: absolute;z-index: -1;top: 0;left: 0;width: 100%;height: 600px;}
